h1 {
    color: blue;
}
h2 {
    color: #46484c;
}
p {
    color: #8b8b8bcc;
}
button{
    color: #fff;
}

body{
    background-color: #fffbf7;
}
button{
    background-color: #025157;
}
.publish {
  /* container styles if any */
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}
.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.video_data {
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video_data img {
  width: 120px;
  margin-top: 10px;
}
.brand {
  background-color: #a1d683;
  padding: 50px 0;
}
section {
  display: block;
}

.content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 80px;
}
article {
  display: block;
} 
brands h2 {
  font-family: 'Alegreya', serif;
  font-size: 50px;
  color: #025157;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.brands button {
  display: block;
}
.brands p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.5;
}

p {
  color: #8b8b8bcc;
  font-family: verdana;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.brands button {
  display: block;
}

button {
  color: #fff;
  background-color: #33393a;
}
button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.brands img {
  width: 500px;
  margin-top: 20px;
}
.profiles {
  background-color: #fff;
  width: 280px;
  border-radius: 8px;
  position: relative;
}
div {
  display: block;
}
.profiles-foto {
  width: 280px;
}
.profiles-logo {
  background-color: #f9da73;
  width: 100px;
  height: 100px;
  border-radius: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 250px;
  right: 20px;
}

.profiles-info {
  padding: 20px;
}
div {
  display: block;
}
.main{
  display: flex;
}
.main div:nth-of-type(1){
  flex-wrap: 1;
}