h1 {
    color: blue;
}
h2 {
    color: #46484c;
}
p {
    color: #8b8b8bcc;
}
button{
    color: #fff;
}

body{
    background-color: #fffbf7;
}
button{
    background-color: #025157;
}
.publish {
  /* container styles if any */
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}
.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.video_data {
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video_data img {
  width: 120px;
  margin-top: 10px;
}